
h1 {
  text-align: center;
}

.first {
  background-color: rgb(235, 200, 84);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 200px;
  margin-left: 780px;
}

.second {
  background-color: rgb(219, 219, 219);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 300px;
  display: inline-block;
  margin-left: 600px;
}

.third {
  background-color: rgb(170, 142, 106);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 300px;
  display: inline-block;
}

.positions{
    border: 1px solid black;
}
ul{
    list-style: none;
}
.award{
    text-align: center;
}