.super-mario {
  width: 200px;
  position: absolute;
  top: 20px;
  left: 10px;
  z-index: 1;
}

.goomba {
  width: 100px;
  position: absolute;
  z-index: 2;
  top: 330px;
  left: 50px;
}

.baloon {
  

}

.speach {
  font-size: 25px;
}

.bowser {
  width: 200px;
}