.form {
  display: flex;
  flex-direction: column;
}

.label {
  margin-right: 10px;
  margin-left: 10px;
}

.input {
  margin-bottom: 10px;
}
h1 {
  text-align: center;
}

.input-text-area {
  display: block;
  margin-left: 10px;
  margin-bottom: 10px;
}